https://github.com/XD-DENG/SQL-exercise/tree/master/SQL_exercise_04

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('SQLite_Python.db')

# Create a cursor
cur = conn.cursor()

# Create tables
cur.execute('''CREATE TABLE IF NOT EXISTS Movies (
  Code INTEGER PRIMARY KEY,
  Title VARCHAR(255) NOT NULL,
  Rating VARCHAR(255)
);''')
cur.execute('''CREATE TABLE IF NOT EXISTS MovieTheaters (
  Code INTEGER PRIMARY KEY,
  Name VARCHAR(255) NOT NULL,
  Movie INTEGER,
    FOREIGN KEY (Movie) REFERENCES Movies(Code)
);''')

# Define the SQL script as a multi-line string
sql_script = '''INSERT INTO Movies(Code,Title,Rating) VALUES(1,'Citizen Kane','PG');
                INSERT INTO Movies(Code,Title,Rating) VALUES(2,'Singing in the Rain','G');
                INSERT INTO Movies(Code,Title,Rating) VALUES(3,'The Wizard of Oz','G');
                INSERT INTO Movies(Code,Title,Rating) VALUES(4,'The Quiet Man',NULL);
                INSERT INTO Movies(Code,Title,Rating) VALUES(5,'North by Northwest',NULL);
                INSERT INTO Movies(Code,Title,Rating) VALUES(6,'The Last Tango in Paris','NC-17');
                INSERT INTO Movies(Code,Title,Rating) VALUES(7,'Some Like it Hot','PG-13');
                INSERT INTO Movies(Code,Title,Rating) VALUES(8,'A Night at the Opera',NULL);
                INSERT INTO MovieTheaters(Code,Name,Movie) VALUES(1,'Odeon',5);
                INSERT INTO MovieTheaters(Code,Name,Movie) VALUES(2,'Imperial',1);
                INSERT INTO MovieTheaters(Code,Name,Movie)VALUES(3,'Majestic',NULL);
                INSERT INTO MovieTheaters(Code,Name,Movie) VALUES(4,'Royale',6);
                INSERT INTO MovieTheaters(Code,Name,Movie) VALUES(5,'Paraiso',3);
                INSERT INTO MovieTheaters(Code,Name,Movie) VALUES(6,'Nickelodeon',NULL);'''

# Split the SQL script into individual statements using semicolon as delimiter
statements = sql_script.split(';')

# Execute each statement in the script
for statement in statements:
    if statement.strip() != '':
        cur.execute(statement)

# -- https://en.wikibooks.org/wiki/SQL_Exercises/Movie_theatres
# -- 4.1 Select the title of all movies.
# cur.execute('select title from movies ')
# -- 4.2 Show all the distinct ratings in the database.
# -- 4.3  Show all unrated movies.
# -- 4.4 Select all movie theaters that are not currently showing a movie.
# -- 4.5 Select all data from all movie theaters
# -- and, additionally, the data from the movie that is being shown in the theater (if one is being shown).
# -- 4.6 Select all data from all movies and, if that movie is being shown in a theater, show the data from the theater.
# -- 4.7 Show the titles of movies not currently being shown in any theaters.
# -- 4.8 Add the unrated movie "One, Two, Three".
# -- 4.9 Set the rating of all unrated movies to "G".
# -- 4.10 Remove movie theaters projecting movies rated "NC-17".


lines = cur.fetchall()
query = pd.DataFrame(list(line) for line in lines)
print(query)

# Commit our command
conn.commit()
# Close our connection
conn.close()

OperationalError: database is locked